# Cursor Rules

1. Read all the rules in this file before you start working on any task.
1. Any content you need to create, documentation, test scripts, etc. should be stored in the AI-generated-content-not-for-git directory.
2. Do not commit any content from the AI-generated-content-not-for-git directory to the repository.



Did you read all the rules?