<h2 mat-dialog-title>{{ currentLevel.title }}</h2>
<mat-dialog-content>
  <!-- Breadcrumb navigation -->
  <div class="breadcrumb" *ngIf="levels.length > 1">
    <ng-container *ngFor="let level of levels; let i = index; let last = last">
      <a *ngIf="!last" (click)="goToLevel(i)" class="breadcrumb-link">{{ level.title }}</a>
      <span *ngIf="last" class="breadcrumb-current">{{ level.title }}</span>
      <mat-icon *ngIf="!last" class="breadcrumb-sep">chevron_right</mat-icon>
    </ng-container>
  </div>

  <p *ngIf="currentLevel.subtitle" class="dialog-subtitle">{{ currentLevel.subtitle }}</p>

  <div *ngIf="currentLevel.chartOptions" echarts [options]="currentLevel.chartOptions" [theme]="'ud-brand'" class="mini-chart"></div>

  <table mat-table [dataSource]="dataSource" matSort class="drilldown-table">
    <ng-container *ngFor="let col of currentLevel.columns" [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.label }}</th>
      <td mat-cell *matCellDef="let row">{{ formatValue(row[col.key], col.format) }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.clickable]="isClickable"
        (click)="onRowClick(row)"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button *ngIf="canGoBack" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
